$mobile-widths: "max-width: 767px";
$tablet-widths: "max-width: 1279px";
//--- Font-size...

$main-font-size: 1rem;

$main-line-height: 1rem;

//--- Font-colors...

$main-font-color: #545454;

$second-font-color: #ffffff;

$third-font-color: #cdcdcd;

//--- Btn-backgrounds...

$btn-bg-hover-color: #FDDCC4;

$btn-bg-active-color: #1bc9f5;

$btn-bg: #F1CDB3;

//--- Main-backgrounds...

$body-bg: #FFFFFF;

$background-color-1: #069bff;

$background-color-2: #ed4679;

//--- Border colors...

$main-border-color: #2d2d2d;

$disabled-border: #CDCDCD;

//--- Animation...
